<%- include("partials/header") -%>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="">SBS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/list">Check History</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/moneyTransfer">Transfer Money</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/allCustomers">View Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/OneCustomer">View One Customer</a>
              </li>
              
            </ul>
          </div>
        </div>
    </nav>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/bank1.png" class="d-block imgc" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/f1.jpg" class="d-block imgc rad" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/sf1.jpg" class="d-block imgc rad" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

<%- include("partials/footer") -%>